body{
margin: 0px;
}

/*     RODAPÉ DO SITE       */

footer{
	
	color: #fff;
	background-color: #000;
	padding: 15px;
	margin-top: 100%;
	text-align: center;
        font-size: 16pt;
	
	
}

/*    ANIMAÇÃO        */


footer:hover{
	
background-color: #fff;
color: #000;	
}

/*     BOTÃO SABER MAIS         */

p.botao a{

background-color: #000;
text-decoration: none;
color: #fff;	
padding: 40px;
border-radius: 25px;
	
}

p.botao{
	margin-top: 10%;
	margin-left: 39%;
        font-size: 18pt;
	
	
}

p.botao a:hover{
	
	background-color: #606060;
	color: #353535;
}

/*   EXIBIÇÃO PRINCIPAL COMO NOME, PROFISSÃO E PROJETOS       */


#exibe  {
	
	background-color: #606060;
	color: #fff;
	text-align: center;
	margin-top: 20%;
	padding: 7%;
	width: 30%;
	margin-left: 27%;
	border-radius: 25px;
	padding-top: 15%;
        font-size: 14pt;
	
}

#exibe:hover{
	
	background-color: #303030;

	
}

#exibe img{
	
	width: 120px;
	height: 120px;
	margin-bottom: 15%;
	margin-left: 8%;
	
}


/* Estilisa os HRS   */

hr{
	width: 100%;
}

#painel {
   background-color: #606060;
   color: #fff;
   font-size: 14pt;
   text-align: center;
   width: 500px;
}
